<h1 id="home-top">Your GrapeVine:</h1>
<%for oneforall in @@all_recent_posts %>
<section class="post-grid">
  <h2 class="post-title"></h2>
  <h3 class="post-content"></h3>
  <h3 class="post-tags"></h3>
</section>
<br>
<%end%>
<script type="text/javascript">
  all_titles = document.getElementsByClassName("post-title")
  all_contents = document.getElementsByClassName("post-content")
  all_tags = document.getElementsByClassName("post-tags")
  <%count = 0%>
  <%for each in @@all_recent_posts%>
  <%if session[:user_id]%>
  <%if User.find(session[:user_id]).user_name == User.find_by(user_name: each.user_name)%>
  all_titles[<%=count%>].innerText = `<%="#{each.title}"%>`
  <%else%>
  var node = document.createElement("a")
  node.setAttribute("href", "/deletepost")
  document.getElementsByClassName('post-grid')[<%=count%>].appendChild(node)
  all_titles[<%=count%>].innerText = `<%="#{each.title}"%>`
  <%end%>
  <%else%>
  all_titles[<%=count%>].innerText = `<%="#{each.title}"%>`
  <%end%>
  all_contents[<%=count%>].innerText = `<%="#{each.content}"%>`
  all_tags[<%=count%>].innerText = `<%="#{each.tags}"%>`
  <%count = count + 1%>
  <%end%>
</script>
